// Styles specific to the home page
body.home {
  #pieLatticeC,
  #pieLatticeD  {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background-image: url("/assets/img/pie-texture.png");
  }

  #pieLatticeA {
    clip-path: polygon(28% 0%, 56.5% 0, 0 94%, 0 42%);
  }
  
  #pieLatticeB {
    clip-path: polygon(0 33%, 0 0, 10% 0, 100% 50%, 100% 91%);
  }
  
  #pieLatticeC {
    clip-path: polygon(30% 0%, 58% 0, 0 99%, 0 42%);
    background-color: $pie-lattice-color-C;
    z-index: -3;
  }
  
  #pieLatticeD {
    clip-path: polygon(0 35%, 0 0, 8% 0, 100% 55%, 100% 95%);
    background-color: $pie-lattice-color-D;
    z-index: -4;
  }

  h1 {
    color: $text-color;
    font-family: $title-font-family;
    font-size: 7em;
    margin-bottom: -.5rem;
  }
  
  .site-intro {
    font-size: 1.5em;
    font-weight: 500;
    color: $brand-color-dark;
    line-height: 2.5rem;
    letter-spacing: -.5px;
  
    p {
      margin-bottom: 2rem;

      &:first-child {
        width: 55%;
      }
    }

    a {
      color: inherit;
      font-weight: 800;
    }
  }

  h1,
  .site-intro {
    padding: 0 10px;
  }

  .site-title {
    display: none;
  }

  @include media-query($on-laptop) {
    #pieLatticeA {
      clip-path: polygon(29% 0%, 67% 0, 0 94%, 0 38.5%);
    }

    #pieLatticeC {
      clip-path: polygon(30% 0%, 69.5% 0, 0 99%, 0 38.5%);
    }
  }

  @include media-query($on-palm) {
    #pieLatticeA {
      clip-path: polygon(39.5% 0%, 94% 0, 0 94%, 0 38.5%);
    }

    #pieLatticeC {
      clip-path: polygon(40% 0%, 97% 0, 0 99%, 0 38.5%);
    }
    
    h1 {
      font-size: 3.1em;
    }

    .site-intro p:first-child {
      width: 100%;
      margin-top: 3rem;
    }
  }
}

.pie-signature {
  display: flex;
  align-items: start;
  justify-content: center;
  margin-top: 4rem;

  .pie-icon svg {
    height: 200px;
  }
  .pie-slice-icon svg {
    height: 125px;
    margin-top: 12px;
  }
}