// Styles specific to posts
.post-list header {
  display: flex;
  flex-direction: column-reverse;

  h2 {
    text-transform: lowercase;
    font-family: $serif-font-family;
    font-weight: 500;
    margin-bottom: .5rem;

    .post-link {
      color: $brand-color-dark;
      font-size: 2rem;
    }
  }
}

.post-info {
  display: flex;

  .post-meta {
    min-width: 16%;
    margin-right: 1rem;
  }
}

.post-list > li,
.post-info > .post-meta {
  margin-bottom: $spacing-unit / 2;
}

.post-date {
  text-transform: uppercase;
  color: $grey-color-dark;
  font-weight: 700;
  letter-spacing: .1rem;
}

.post-categories,
.post-tags {
  list-style: none;
  margin: 0;

  & > li {
    display: inline-block;
  }
}

.post-categories {
  font-variant: small-caps;
  margin-bottom: -3px;

  & > li {
    font-size: 1.4rem;
    padding-right: 8px;
  }
}

.post-tags {
  margin-top: .5rem;
  text-transform: lowercase;
  display: inline-block;

  .tag {
    color: $pie-lattice-color-B;
    font-family: $serif-font-family;
    font-weight: 500;
    padding-right: .2rem;
  }

  & > li {
    color: $text-color;
    font-size: 1rem;
    line-height: .9rem;
    padding-right: .4rem;
  }
}

.thought {
  h1 {
    font-family: $serif-font-family;
    font-weight: 400;
    font-size: 3.5rem;
    color: $brand-color-dark;
  }

  .post-content {
    margin-bottom: $spacing-unit * 2;
  }
}
