// Custom styling for pie-dough
body {
  #pieLatticeA,
  #pieLatticeB {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background-image: url("/assets/images/pie-texture.png");
  }

  #pieLatticeA {
    clip-path: polygon(0 0,80% 0, 0 4%);
    background-color: #ECA040;
    z-index: -1;
  }
  
  #pieLatticeB {
    clip-path: polygon(20% 0, 100% 0, 100% 3.5%);
    background-color: #F8C770;
    z-index: -2;
  }
}

body.home {
  #pieLatticeC,
  #pieLatticeD  {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background-image: url("/assets/images/pie-texture.png");
  }

  #pieLatticeA {
    clip-path: polygon(28% 0%, 56.5% 0, 0 94%, 0 42%);
  }
  
  #pieLatticeB {
    clip-path: polygon(0 33%, 0 0, 10% 0, 100% 50%, 100% 91%);
  }
  
  #pieLatticeC {
    clip-path: polygon(30% 0%, 58% 0, 0 99%, 0 42%);
    background-color: #f5b64f;
    z-index: -3;
  }
  
  #pieLatticeD {
    clip-path: polygon(0 35%, 0 0, 8% 0, 100% 55%, 100% 95%);
    background-color: #fddb9e;
    z-index: -4;
  }

  h1 {
    font-family: 'Homemade Apple', cursive;
    font-size: 7em;
    margin-top: 5rem;
    margin-bottom: 0;
    padding: 0 10px;
  }
  
  .site-intro {
    font-size: 1.5em;
    font-weight: 500;
    color: #521424;
    line-height: 2.5rem;
    letter-spacing: -.5px;
  
    p {
      margin-bottom: 2rem;

      &:first-child {
        width: 55%;
      }
    }
  }

  .site-title {
    display: none;
  }
}

.site-header,
.site-footer {
  border: none;
}

.site-nav {
  text-transform: lowercase;
  font-size: 1.25rem;

  a {
    &:hover {
      color: $brand-color;
      text-decoration: solid underline $brand-color 3px;
    }

    &:not(:last-child)::after {
      content: "\25CF"; // flat circle
      color: $brand-color;
      font-size: .8em;

      display:inline-block;
      text-decoration: none !important;
      padding-left: 1.25rem;
    }
  }
}

pre,
code {
  font-family: 'Anonymous Pro', monospace;
}
