// These variables will override the base minima theme
$base-font-family: 'Karla', Helvetica, Arial, sans-serif;
$base-font-size:   18px;

$text-color:       #18181B;
$background-color: #FDF1D3;
$brand-color:      #9E1622;
$brand-color-dark: #521424;
$accent-color:     #C53055;
$grey-color:       #757D75;

$content-width:    840px;
$spacing-unit:     40px;