// These variables will override the base minima theme
$title-font-family: 'Homemade Apple', cursive;
$serif-font-family: 'Lora', serif;
$base-font-family: 'Karla', Helvetica, Arial, sans-serif;
$base-font-size:   18px;

$content-width:    840px;
$on-laptop:        $content-width;
$on-palm:          640px;
$spacing-unit:     40px;

$text-color:       #18181B;
$background-color: #FDF1D3;
$brand-color:      #9E1622;
$brand-color-dark: #521424;
$accent-color:     #C53055;
$grey-color:       #757D75;

$pie-lattice-color-A: #ECA040;
$pie-lattice-color-B: #F8C770;
$pie-lattice-color-C: #f5b64f;
$pie-lattice-color-D: #fddb9e;