<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {%- include head.html -%}

  <body class="{{ page.layout }}">
    <div id="pieLatticeA" aria-hidden="true"></div>
    <div id="pieLatticeB" aria-hidden="true"></div>
    <div id="pieLatticeC" aria-hidden="true"></div>
    <div id="pieLatticeD" aria-hidden="true"></div>

    {%- include header.html -%}

    <main class="page-content" aria-label="Content">
      <div class="wrapper">
        {{ content }}
      </div>
    </main>

    {%- include footer.html -%}

  </body>
</html>